h1
{
    color: goldenrod;
    text-align: center;
    
}

.cards
{
    margin-top: 100px;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1.4rem;
    column-gap: 1.4rem;
    grid-auto-rows: 300px;


}

.card img {
    width: 100px;
    border-radius: 50%;
    border: 5px solid #ebebeb;
    transition: .3s ease-in-out;
}



.card
{
    background-color:#222;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    
}


.card h3 {
    color: white;
    font-weight: 400;
    margin: 1rem 0 0.5rem;
}

.card h4 {
    color: white;
    font-weight: 300;
    opacity: 60%;
}

.card:hover {
    background: #AAA;
    color: black!important;
}