:root{
    --clr-1: #0c0c0c;
    --clr-2: #eec6c6;
}

*{
    padding: 0;
    margin: 0;
    border: none;
}

.main_nav{
    display: flex;
    justify-content: space-between;
    background-color: var(--clr-1);
    align-items: center;
    padding: 1rem;
}

.main_logo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: azure;
}
.button {
    background-color: #51ff00;
    box-shadow: 1px 3px 15px 0px #00000066;;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin: 4px 2px;
    cursor: pointer;
}
.button:hover{
    background-color: #47df01;
}



.foot {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--clr-1);
}
.foot p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: azure;
    padding: 20px;
}

.main-head{
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}
.main-head .button{
    display: block;
    margin-top: 30px;
}
#image{
    height: 5cm;
}
#download{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 2cm;
}
#fp{
    padding: 5px 5px 5px 5px;
}