body
{
    background-color: black;
    font-family: sans-serif;
    margin: 0;
    
}

*
{
    box-sizing: border-box;
}

header
{
    text-align: center;
}

#logo
{
    width: 500px;
}

a
{
    text-decoration: none;
}

nav a
{
    color: gold;
    margin: 0 20px;
    font-size: 1rem;
    font-family: cursive,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav a:hover
{
    border-bottom: 1px solid goldenrod;
}

nav
{
    background-color: #111;
    padding: 20px;

}

.game-logo
{
    width: 264px;
}

.glb
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content
{
    padding: 100px 200px;
}

h2 {
    color: white;
    font-weight: 400;
    margin: 1rem 0 0.5rem;
}

 h3 {
    color: white;
    font-weight: 300;
    opacity: 60%;
    margin-top: 4px;
}


.game-logo
{
    border-radius: 30px;
}

.download-btn
{
    color: rgb(255, 255, 255);
    padding: 20px 30px;
    font-size: 1.2rem;
    border-radius: 40px;
    background-color: gold;
    color: black;
    font-weight: 600;
}