:root{
    --clr-1: #000000;
    --clr-2: #eec6c6;
}

*{
    padding: 0;
    margin: 0;
    border: none;
}


.main_nav{
    display: flex;
    justify-content: space-between;
    background-color: var(--clr-1);
    align-items: center;
    padding: 1rem 0.6rem;
    justify-items: center;
}

.main_logo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: rgb(235, 235, 235);
    width: 100%;
    text-align: center;

    background: -webkit-linear-gradient(0deg,  rgb(252, 252, 252), #bbbbbb );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a
{
    text-decoration: none;
}

.button
{
    background-color: #16ff16;
    color: rgb(2, 2, 2);
    cursor: pointer;

}
.main_nav .button {

    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    display: none;
    clip-path: polygon(8px 0,100% 0,100% calc(100% - 8px),calc(100% - 8px) 100%,0 100%,0 8px,8px 0);


}
.button:hover{
    background-color: #47df01;
}


body
{
    background-color: rgb(12, 26, 14);
    font-family: Arial, Helvetica, sans-serif;
}
.foot {

    background-color: var(--clr-1);
}
.foot p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: azure;
    padding: 20px;
}
header
{
    height: 100vh;
    background-image: url("i.jpg");

}

.content-wrapper
{
    height: 100%;
    background-color: #0c0c0c99;
    backdrop-filter: blur(1px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-head .button{
    display: block;
   
}
#image{
    height: 5cm;
}
#download{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 2cm;
}
#fp{
    padding: 5px 5px 5px 5px;
}

header .button
{
    padding: 1.3rem 5rem;
    
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 40px;
}